.backgroung-main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 100%;
  height: 100%;
  bottom: 0;
  pointer-events: none;
  @include breakpoint($md0) {
    width: 1920px;
  }
  @include breakpoint($md3) {
    display: none;
  }
  &__image {
    position: absolute;
  }
  &__left {
    &-one {
      bottom: 17px;
      left: -380px;
    }
    &-two {
      bottom: 1008px;
      left: -385px;
    }
    &-three {
      bottom: 1948px;
      left: -392px;
    }
    &-four {
      bottom: 2990px;
      left: -385px;
    }
    &-five {
      bottom: 3928px;
      left: -336px;
    }
    &-six {
      bottom: 4891px;
      left: -336px;
    }
  }
  &__right {
    &-one {
      bottom: 507px;
      right: -400px;
    }
    &-two {
      bottom: 1581px;
      right: -431px;
    }
    &-three {
      bottom: 2501px;
      right: -431px;
    }
    &-four {
      bottom: 3440px;
      right: -413px;
    }
    &-five {
      bottom: 4462px;
      right: -346px;
    }
    &-six {
      bottom: 5333px;
      right: -346px;
    }
  }
}
