.stock {
  position: relative;
  &__title {
    color: #333;
    text-align: center;
    font-family: Actor;
    font-size: 48px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 74px;
  }

  &__swiper-buttons {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__swiper-button-next {
    width: 16px;
    height: 27px;
  }

  &__swiper-button-prev {
    width: 16px;
    height: 27px;
  }
  
}
