<div id="categoryMenu" class="bottom-header__mobile-menu mobile-menu">
  <div class="mobile-menu__body">
    <div class="mobile-menu__top">
      <span>Категории</span>
      <div class="mobile-menu__close">
        <svg ><use xlink:href="./images/Sprite.svg#burger-category-close"></use></svg>
      </div>
    </div>
    <div class="mobile-menu__wrapper">
      <div class="mobile-menu__center">
        <div class="mobile-menu__dropdowns mobile-menu-dropdowns">
          <ul class="mobile-menu-dropdowns__body">
            <li
              class="mobile-menu-dropdowns__item mobile-menu-dropdowns__item--witharrow"

            >
              <button>
                Все букеты
                <svg ><use xlink:href="./images/Sprite.svg#category-menu-arrow"></use></svg>
              </button>
              <ul class="mobile-menu-dropdowns__body-second">
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в коробке с пироженым Macarons
                  </li>
                 
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в коробке сердце
                  </li>
                </a>
               <a href="#">
                <li class="mobile-menu-dropdowns__item-second--witharrow">
                  Цветы в прямоугольной коробке 
                </li>
               </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в шляпной коробке 
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Розы в коробке 
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Пионы в коробке  
                  </li>
                </a>
              
              </ul>
            </li>
            <li
              class="mobile-menu-dropdowns__item mobile-menu-dropdowns__item--witharrow"
            >
              <button>
                Розы
                <svg ><use xlink:href="./images/Sprite.svg#category-menu-arrow"></use></svg>
              </button>
              <ul class="mobile-menu-dropdowns__body-second">
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в коробке с пироженым Macarons
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в коробке сердце
                  </li>
                </a>
               <a href="#">
                <li class="mobile-menu-dropdowns__item-second--witharrow">
                  Цветы в прямоугольной коробке 
                </li>
               </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в шляпной коробке 
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Розы в коробке 
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Пионы в коробке  
                  </li>
                </a>
              
              </ul>
            </li>
            <li
              class="mobile-menu-dropdowns__item mobile-menu-dropdowns__item--witharrow"
            >
              <button>
                Цветы в коробке
                <svg ><use xlink:href="./images/Sprite.svg#category-menu-arrow"></use></svg>
              </button>
              <ul class="mobile-menu-dropdowns__body-second">
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в коробке с пироженым Macarons
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в коробке сердце
                  </li>
                </a>
               <a href="#">
                <li class="mobile-menu-dropdowns__item-second--witharrow">
                  Цветы в прямоугольной коробке 
                </li>
               </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в шляпной коробке 
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Розы в коробке 
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Пионы в коробке  
                  </li>
                </a>
              
              </ul>
            </li>
            <li
              class="mobile-menu-dropdowns__item mobile-menu-dropdowns__item--witharrow"
            >
              <button>
                Композиции
                <svg ><use xlink:href="./images/Sprite.svg#category-menu-arrow"></use></svg>
              </button>
              <ul class="mobile-menu-dropdowns__body-second">
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в коробке с пироженым Macarons
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в коробке сердце
                  </li>
                </a>
               <a href="#">
                <li class="mobile-menu-dropdowns__item-second--witharrow">
                  Цветы в прямоугольной коробке 
                </li>
               </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в шляпной коробке 
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Розы в коробке 
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Пионы в коробке  
                  </li>
                </a>
              
              </ul>
            </li>
            <li
              class="mobile-menu-dropdowns__item mobile-menu-dropdowns__item--witharrow"
            >
              <button>
                Подарки
                <svg ><use xlink:href="./images/Sprite.svg#category-menu-arrow"></use></svg>
              </button>
              <ul class="mobile-menu-dropdowns__body-second">
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в коробке с пироженым Macarons
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в коробке сердце
                  </li>
                </a>
               <a href="#">
                <li class="mobile-menu-dropdowns__item-second--witharrow">
                  Цветы в прямоугольной коробке 
                </li>
               </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в шляпной коробке 
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Розы в коробке 
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Пионы в коробке  
                  </li>
                </a>
              
              </ul>
            </li>

            <li
              class="mobile-menu-dropdowns__item mobile-menu-dropdowns__item--witharrow"
            >
              <button id="categoryMenu">
                Подарочные корзины
                <svg ><use xlink:href="./images/Sprite.svg#category-menu-arrow"></use></svg>
              </button>
              <ul class="mobile-menu-dropdowns__body-second">
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в коробке с пироженым Macarons
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в коробке сердце
                  </li>
                </a>
               <a href="#">
                <li class="mobile-menu-dropdowns__item-second--witharrow">
                  Цветы в прямоугольной коробке 
                </li>
               </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в шляпной коробке 
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Розы в коробке 
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Пионы в коробке  
                  </li>
                </a>
              
              </ul>
            </li>
            <li
              class="mobile-menu-dropdowns__item mobile-menu-dropdowns__item--witharrow"
            >
              <button id="categoryMenu">
                Подарочные корзины
                <svg ><use xlink:href="./images/Sprite.svg#category-menu-arrow"></use></svg>
              </button>
              <ul class="mobile-menu-dropdowns__body-second">
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в коробке с пироженым Macarons
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в коробке сердце
                  </li>
                </a>
               <a href="#">
                <li class="mobile-menu-dropdowns__item-second--witharrow">
                  Цветы в прямоугольной коробке 
                </li>
               </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в шляпной коробке 
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Розы в коробке 
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Пионы в коробке  
                  </li>
                </a>
              
              </ul>
            </li>
            <li
              class="mobile-menu-dropdowns__item mobile-menu-dropdowns__item--witharrow"
            >
              <button id="categoryMenu">
                Букеты невесты
                <svg ><use xlink:href="./images/Sprite.svg#category-menu-arrow"></use></svg>
              </button>
              <ul class="mobile-menu-dropdowns__body-second">
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в коробке с пироженым Macarons
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в коробке сердце
                  </li>
                </a>
               <a href="#">
                <li class="mobile-menu-dropdowns__item-second--witharrow">
                  Цветы в прямоугольной коробке 
                </li>
               </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в шляпной коробке 
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Розы в коробке 
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Пионы в коробке  
                  </li>
                </a>
              
              </ul>
            </li>
            <li
              class="mobile-menu-dropdowns__item mobile-menu-dropdowns__item--witharrow"
            >
              <button id="categoryMenu">
                Вкусные букеты
                <svg ><use xlink:href="./images/Sprite.svg#category-menu-arrow"></use></svg>
              </button>
              <ul class="mobile-menu-dropdowns__body-second">
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в коробке с пироженым Macarons
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в коробке сердце
                  </li>
                </a>
               <a href="#">
                <li class="mobile-menu-dropdowns__item-second--witharrow">
                  Цветы в прямоугольной коробке 
                </li>
               </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Цветы в шляпной коробке 
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Розы в коробке 
                  </li>
                </a>
                <a href="#">
                  <li class="mobile-menu-dropdowns__item-second--witharrow">
                    Пионы в коробке  
                  </li>
                </a>
              
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
