.flowers-grid{
    display: grid;
    gap: 19px;
    grid-template-columns: auto auto;
    grid-template-rows: 280px 280px;
    padding-top: 10px;
    padding-bottom: 70px;
    height: 100%;

    @media (max-width:600px) {
        gap: 10px;
        grid-template-rows: auto auto;
        padding-bottom: 0;
    }

    &__img-first{
        grid-row: 1/3;
    }

    img{
        @media (max-width:600px) {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}