.flowers-grid{
    // display: flex;
    // gap: 19px;
    // height: 580px;
    display: grid;
    gap: 19px;
    // height: 580px;
    grid-template-columns: auto auto;
    grid-template-rows: 280px 280px;

    @media (max-width:600px) {
        gap: 10px;
        grid-template-rows: 137px 137px;
    }

    &__img-first{
        grid-row: 1/3;
    }

    img{
        @media (max-width:1240px) {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}