.categories-list {
   display: none;

   &__category {
      padding: 12px 14px 12px 14px;
      transition: $standartTrans;

      &:hover {
         background: $cheryColor;
         color: $whiteColor;
      }
   }

   &__sub-category {
      display: none;
   }
}

.pull-down {

   &__header {}

   &__title {}

   &__arrow {}

   &__list {}

   &__item {}
}