<div id="mainMenu" class="bottom-header__mobile-menu mobile-menu">
  <div class="mobile-menu__body">
    <div class="mobile-menu__top">
      <span>Menu</span>
    </div>
    <div class="mobile-menu__wrapper">
      <div class="mobile-menu__center">
        <div class="mobile-menu__call">
          <div class="mobile-menu__call-left">
            <a href="tel:+380671112211">+38 (067) 111 22 11</a>
          </div>
          <div class="mobile-menu__call-right">
            <a href="#" class="mobile-menu__call-link">
              Подзвонить
              <img
                src="./images/main/stock/button-branch.png"
                alt="button-branch"
              />
            </a>
          </div>
        </div>
        <div class="mobile-menu-buttons">
          <div class="mobile-menu-buttons__body">
            <div class="mobile-menu-buttons__item">
              <div class="mobile-menu-buttons__item-name">Киев</div>
              <button id="mobileMenuCity" class="mobile-menu-buttons__button">
                Выбрать город
              </button>
            </div>
            <div class="mobile-menu-buttons__item">
              <div class="mobile-menu-buttons__item-name">Закладки</div>
              <!-- <button class="mobile-menu-buttons__button">Выбрать город</button> -->
            </div>
            <div class="mobile-menu-buttons__item">
              <div class="mobile-menu-buttons__item-name">Личный кабинет</div>
              <button id="mobileMenuLogin" class="mobile-menu-buttons__button">
                Войти
              </button>
            </div>
          </div>
        </div>
        <div class="mobile-menu__dropdowns mobile-menu-dropdowns">
          <ul class="mobile-menu-dropdowns__body">
            <li class="mobile-menu-dropdowns__item">
              <a href="/">Форум</a>
            </li>
            <li class="mobile-menu-dropdowns__item">
              <a href="/">Отзывы</a>
            </li>
            <li class="mobile-menu-dropdowns__item">
              <a href="/">Акции</a>
            </li>
            <li class="mobile-menu-dropdowns__item">
              <a href="/">Новости</a>
            </li>
            <li class="mobile-menu-dropdowns__item">
              <a href="/">Информация</a>
            </li>
            <li
              class="mobile-menu-dropdowns__item mobile-menu-dropdowns__item--contact"
            >
              <a href="/"
                ><svg class="top-header__list-item-icon">
                  <use xlink:href="#phone"></use>
                </svg>
                Контакты</a
              >
            </li>
            <li
              class="mobile-menu-dropdowns__item mobile-menu-dropdowns__item--witharrow"
            >
              <button id="categoryMenuButton">
                Категории
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="7"
                  height="14"
                  viewBox="0 0 7 14"
                  fill="none"
                >
                  <path
                    d="M6.74815 6.30693L1.46799 0.287337C1.1321 -0.0957794 0.587529 -0.0957794 0.25181 0.287337C-0.0839366 0.670113 -0.0839366 1.29094 0.25181 1.67368L4.92394 7.0001L0.251945 12.3263C-0.0838008 12.7093 -0.0838008 13.33 0.251945 13.7128C0.587692 14.0957 1.13224 14.0957 1.46812 13.7128L6.74829 7.69312C6.91616 7.50164 7 7.25095 7 7.00013C7 6.74919 6.916 6.49832 6.74815 6.30693Z"
                    fill="#333333"
                  />
                </svg>
              </button>
            </li>
          </ul>
        </div>
      </div>

      <div class="mobile-menu__bottom">
        <div class="mobile-menu__links mobile-menu-links">
          <div class="mobile-menu-links__body">
            <a href="" class="mobile-menu-links__link">
              <img
                src="@img/header/viber.svg"
                alt="viber"
                class="bottom-header__social-icon"
            /></a>
            <a href="" class="mobile-menu-links__link">
              <img
                src="@img/header/insta.svg"
                alt="instagram"
                class="bottom-header__social-icon"
            /></a>
            <a href="" class="mobile-menu-links__link">
              <img
                src="@img/header/telegram.svg"
                alt="telegram"
                class="bottom-header__social-icon"
            /></a>
            <a href="" class="mobile-menu-links__link">
              <img
                src="@img/header/facebook.svg"
                alt="facebook"
                class="bottom-header__social-icon"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
