.title {
    background: transparent;

    h1 {
        color: $mainDarkColor;
        text-align: center;
        font-family: Actor, sans-serif;
        font-size: 48px;
        font-weight: 400;
        letter-spacing: 2px;
        margin-bottom: 77px;

        @media (max-width:768px) {
            font-size: 24px;
            margin-top: 8px;
            margin-bottom: 44px;
            letter-spacing: 1px;
            line-height: 19px;        
        }
    }
}