@import 'style';

.page {
    background: $whiteColor;
    position: relative;
    width: 100%;

    &__bg {
        img {
            position: absolute;
        }

        .bg {
            &__first {
                left: 0;
                top: -63px;

                @media (max-width:1760px) {
                    left: -50px;
                }

                @media (max-width:1515px) {
                    display: none;
                }
            }

            &__second {
                right: 0;
                top: 118px;

                @media (max-width:1760px) {
                    right: -50px;
                }

                @media (max-width:1515px) {
                    display: none;
                }
            }

            &__third {
                left: 0;
                bottom: -263px;

                @media (max-width:1760px) {
                    left: -50px;
                }

                @media (max-width:1515px) {
                    display: none;
                }
            }

            &__fourth {
                right: 0;
                bottom: -265px;

                @media (max-width:1760px) {
                    right: -110px;
                }

                @media (max-width:1515px) {
                    display: none;
                }
            }
        }
    }
}

