@import 'style';

.page {
    background: $whiteColor;
    position: relative;
    width: 100%;

    &__bg {
        img {
            position: absolute;
        }

        .bg {
            &__first {
                left: 0;
                top: -33px;

                @media (max-width:1760px) {
                    left: -50px;
                }

                @media (max-width:1515px) {
                    display: none;
                }
            }

            &__second {
                right: 0;
                top: 150px;

                @media (max-width:1760px) {
                    right: -50px;
                }

                @media (max-width:1515px) {
                    display: none;
                }
            }

            &__third {
                left: 0;
                top: 661px;

                @media (max-width:1760px) {
                    left: -50px;
                }

                @media (max-width:1515px) {
                    display: none;
                }
            }

            &__fourth {
                right: 0;
                top: 690px;

                @media (max-width:1760px) {
                    right: -110px;
                }

                @media (max-width:1515px) {
                    display: none;
                }
            }
        }
    }
}

.bread-crumbs {
    display: flex;
    gap: 30px;
    font-family: Aguafina Script, sans-serif;
    margin-top: 39px;
    margin-bottom: 33px;
    background: transparent;

    a {
        color: $gray3Color;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.1px;

        &:not(:last-child){
            text-decoration: underline;
        }
    }

    @media (max-width:768px) {
        display: none;
    }
}

.title {
    background: transparent;

    h1 {
        color: $mainDarkColor;
        text-align: center;
        font-family: Actor, sans-serif;
        font-size: 48px;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 87px;

        @media (max-width:768px) {
            font-size: 24px;
            margin-top: 22px;
            margin-bottom: 41px;
        }
    }
}

.forum-accordion {
    font-family: Aclonica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.69px;
    background: transparent;

    @media (max-width:768px) {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.5px;
        margin-bottom: 37px;
    }

    &__top-text {
        color: $mainDarkColor;
        margin-bottom: 35px;

        @media (max-width:768px) {
            margin-bottom: 25px;
        }
    }

    &__accordions {
        .accordion {
            margin-bottom: 21px;

            &__title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $cheryColor;
                height: 77px;
                padding: 20px 48px 20px 65px;
                color: var(--ffffff, #FFF);
                font-size: 24px;

                @media (max-width:768px) {
                    padding: 20px 16px 20px 36px;
                    font-size: 16px;
                }
            }

            &__content {
                box-sizing: content-box;
                justify-content: space-around;
                max-height: 0;
                opacity: 0;
                visibility: hidden;
                transition: all 0.5s;

                &.active {
                    visibility: visible;
                    opacity: 1;
                    padding-top: 20px;
                    padding-bottom: 50px;
                    transition: all 0.5s;
                    padding-bottom: 38px;
                    padding-top: 32px;

                    @media (max-width:768px) {
                        padding-bottom: 3px;
                        padding-top: 24px;
                        letter-spacing: 0.2px;
                    }
                }
            }
        }
    }

    &__last-text {
        margin-top: 51px;

        @media (max-width:768px) {
            margin-top: 25px;
        }
    }

    margin-bottom: 99px;
}

//font-family: 'AbyssinicaSIL', serif;
//font-family: 'Aclonica', sans-serif;
//font-family: 'Acme', sans-serif;
//font-family: 'Actor', sans-serif;
//font-family: 'Aguafina Script', cursive;