.title {
    background: transparent;

    h1 {
        color: $mainDarkColor;
        text-align: center;
        font-family: Actor, sans-serif;
        font-size: 48px;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 87px;

        @include breakpoint($md4) {
            font-size: 24px;
            margin-top: 17px;
            margin-bottom: 43px;
            padding: 0 20px;
        }
    }
}