.cards {
    margin-bottom: 113px;
    &__items {
        height: 2277px;
        margin-bottom: 75px;

        @media (max-width:768px) {
            height: 1692px;
            margin-bottom: 75px;
        }
    }
    &__button {
        max-width: 220px;
        margin: 0 auto;
        height: 63px;
        margin-bottom: 92px;
        @media (max-width:768px) {
            display: block;
            height: 50px;
            max-width: none;
            width: 100%;
            margin-bottom: 51px;
        }
    }
    &__btn {
        span{
            font-family: AbyssinicaSIL;
            color: $whiteColor;
            margin: 0 4px;
        }
        @media (max-width:768px) {
            font-size: 16px;
        }
    }
    &__button-info {}
    @media (max-width:768px) {
        margin-bottom: 60px;
    }
}

