// 375px, 576px, 768px, 1024px, 1420px, 1650px, 1920px
.left-menu {
		&__adaptive-top {
            display: none;
            background: $mainDarkColor;
            height: 72px;
            align-items: center;
            padding: 0 21px 0 19px;
            justify-content: space-between;
            @media (max-width: 768px) {
                display: flex;
            }
        }
        &__adaptive-back {
            box-sizing: content-box;
            width: 14px;
            height: 14px;
            padding: 5px;
            position: relative;
            &::after, &::before{
                content: '';
                position: absolute;
                width: 2px;
                height: 16px;
                background-color: $whiteColor;
                transform-origin: center center;
            }
            &::after{
                left: 11px;
                top: 4px;
                transform: rotate(-45deg);
            }
            &::before{
                right: 11px;
                top: 4px;

                transform: rotate(45deg);
            }
        }
        &__adaptive-delete-filters {
            display: none;
            width: 122px;
            height: 35px;
            border-radius: 5px;
            background: #956D84;
            box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15) inset;
            margin: 20px 0 40px 14px;
            @media (max-width: 768px) {
                display: block;
            }
        }
		&__adaptive-sort {
            display: none;
            @media (max-width: 768px) {
                display: block;
            }
        }
		&__adaptive-title {
            color: $whiteColor;
            font-size: 14px;
            font-weight: 400;
        }

		&__adaptive-sort-item {}
		&__sort-item-title {
        }
		&__sort-item-info {}
		&__sort-item-menu {
            display: none;
        }
		&__sort-item-menu-title {}
		&__sort-item-menu-point {}

        &__menu {}
		&__menu-item {
            transition: all 1s ease 0s;
        }
        &__menu-item-list {
            // display: none;
            opacity: 0;
            position: absolute;

        }
		&__menu-item-title {
            user-select: none;
            cursor: pointer;
            height: 48px;
            line-height: 48px;
            display: block;
            color: $mainDarkColor;
            font-size: 20px;
            font-weight: 400;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                background: url(../../images/catalog/filter-arrow.svg);
                transition: all 0.3s ease 0s;
                width: 17.6664px;;
                height: 8.1px;
            }
            &:hover{
                color: $cheryColor;
                &::after{
                    background: url(../../images/catalog/filter-arrow-hover.svg);
                }
            }
        }
        &__menu-item-title-active{
            padding-bottom: 23px;
            .left-menu {
                &__menu-item-list {
                    padding-top: 19px;
                    position: relative;
                    transition: all 0.5s ease 0s;
                    opacity: 1;
                }
                &__menu-item-title {
                    &::after{
                        transform: rotate(180deg) translateY(30%);
                        transform-origin: center;
                    }
                }
            }
        }
		&__menu-item-list-point {
            padding-left: 33px;
            input{
                display: none;
            }
            label{
                user-select: none;
                cursor: pointer;
                color: $cheryColor;
                font-size: 16px;
                font-weight: 400;
                line-height: 18px;
                padding: 10px 0;
                display: block;
                letter-spacing: 0.35px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -28px;
                    width: 100%; 
                    height: 100%;
                    background: url(../../images/catalog/done.svg) 0px 11px no-repeat;
                    opacity: 0;
                }
            }
            input:checked + label::before {
                opacity: 1;
            }
            &:hover{
                background-color: $cheryColor;
                label{
                    color: $whiteColor;
                    &::before {
                        background: url(../../images/catalog/done-hover.svg)0px 11px no-repeat;
                    }
                }
            }
        }
        @media (max-width: 768px) {
            background-color: $whiteColor;
            position: fixed;
            z-index: 10;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
}


